/.eslintcache
/coverage/
/node_modules/
/yarn-error.log
/pkg/
/test.rb
*.gem

# This is to better support the GitHub actions checking - since bundler changes
# to being shipped by default with Ruby starting on 2.6.
/Gemfile.lock
