/.bundle/
/coverage/
/dist/
/pkg/
/playground/
/vendor/

/.eslintcache
/.*ignore
/bin/port
/docs/logo.png
/*.lock
/LICENSE
/test.rb
/test.rbs
/test.haml

*.txt
*.gem

# I'm ignoring this for now because it's a dump of a bunch of types that I don't
# want running onto multiple lines at the moment.
/src/types.ts
