name: Main
on:
  - push
  - pull_request
jobs:
  ci:
    name: CI
    strategy:
      fail-fast: false
      matrix:
        os:
          - macos-latest
          - ubuntu-latest
        ruby:
          - "2.5"
          - "2.6"
          - "2.7"
          - "3.0"
          # Turning off truffleruby because I'm not sure why it's failing
          # - truffleruby
    runs-on: ${{ matrix.os }}
    env:
      PLUGIN_RUBY_CI: true
    steps:
      - uses: actions/checkout@main
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: ${{ matrix.ruby }}
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 12.x
      - id: yarn-cache
        run: echo "::set-output name=directory::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.directory }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile
      - name: Test
        run: |
          yarn test
          bundle exec rake test

  lint:
    name: Lint
    runs-on: ubuntu-latest
    env:
      PLUGIN_RUBY_CI: true
    steps:
      - uses: actions/checkout@main
      - uses: ruby/setup-ruby@v1
        with:
          bundler-cache: true
          ruby-version: "3.0"
      - uses: actions/setup-node@v2-beta
        with:
          node-version: 12.x
      - id: yarn-cache
        run: echo "::set-output name=directory::$(yarn cache dir)"
      - uses: actions/cache@v1
        with:
          path: ${{ steps.yarn-cache.outputs.directory }}
          key: ${{ runner.os }}-yarn-${{ hashFiles('**/yarn.lock') }}
          restore-keys: ${{ runner.os }}-yarn-
      - run: yarn install --frozen-lockfile
      - run: |
          yarn check-format
          yarn lint

  # Saves pull request details for later workflow runs which can run in
  # a privileged environment
  save-pr-info:
    name: Save PR info
    needs:
      - ci
      - lint
    runs-on: ubuntu-latest
    if: github.event_name == 'pull_request'
    steps:
      - name: Save PR number
        run: |
          mkdir -p ./save-pr-info
          echo ${{ github.event.number }} > ./save-pr-info/PULL_REQUEST_NUMBER
      - uses: actions/upload-artifact@v2
        with:
          name: save-pr-info
          path: save-pr-info/
